
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: black;
    color: white;
    font-family: 'Kusanagi';
    position: fixed;
    width: 100%;
    top: 0px;
    left: 0px;
}

body, div {
    margin: 0px;
    padding: 0px;
}

body {
    background-image: url('/attached_assets/section1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
}

button {
    cursor: pointer;
}

@media (max-width: 768px) {
    .header {
        padding: 10px;
    }
    
    div[style*="width:40%"] {
        width: 90% !important;
    }
}
